{# Author: Mengty LIM #}
# Managed by Ansible — roles/baseline. Manual edits will be overwritten.
search {{ search_domains | join(' ') }}
{% for server in dns_servers %}
nameserver {{ server }}
{% endfor %}
options timeout:2 attempts:2 rotate
